body{
    margin: 0;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    }
    #first{
        width: 500px;
        padding: 10px;
        margin: 10px 0;
    }
    #second{
        width: 500px;
        padding: 10px;
        margin: 10px 0;
    }